.clientlist-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

}   

.clientlist-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientlist-container .content section {
    width: 100%;
    max-width: 380px;
}

.clientlist-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 30px;
    color: #393942
}

.clientlist-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
    
}

.clientlist-container .content form {
    width: 100%;
    max-width: 550px;      
    
}



.clientlist-container .content form .input-group {
    display: flex;

}

.clientlist-container .content form .input-group input + input{
    margin-left: 8px;
}

.clientlist-container .content form select {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.fieldsearch {
    text-align: start;
}

.fieldsearch input {
   
    width: 60%;
    margin-bottom: 10px;
}
.fieldsearch button {
    width: 20%;
    margin-left: 108px;
    
}