.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

}   

.logon-container .content {
    width: 50%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logon-container .content section {
    width: 100%;
    max-width: 380px;
}

.logon-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 30px;
    color: #393942
}

.logon-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.logon-container .content form {
    width: 100%;
    max-width: 350px;   
}

.logon-container .content form input {
    margin-top: 8px;
}


.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;

}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form a {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.logon-container section.form form a svg {
    margin-right: 8px;
}

.logon-container section.form form a:hover {
    opacity: 0.8;
}